<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RC Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9faa">  <td>18/01/31 15:27:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiate.Ini()[pri:0, instance:Test.Initiate@192b07fd]">&gt;&gt;Ini</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@2041274236</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>18/01/31 15:27:01</td>   <td>340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Initiate.checkHome(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Test.Initiate@192b07fd]">checkHome</td> 
  <td>pool-1-thread-1@2041274236</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>18/01/31 15:49:15</td>   <td>1334542</td> <td>&nbsp;</td><td title="&lt;&lt;Initiate.publishReport()[pri:0, instance:Test.Initiate@192b07fd]">&lt;&lt;publishReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
</table>
